
* {
  margin: 1%;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  
  
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  background-color:#EFEEEA;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Graduate', cursive;
}
.toggle-menu {
  display: none;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline-block;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  margin-left: -35%;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.logoimg{width: 20%;}
.img-responsive {
  max-width: 100%;
  height: atuo;
  margin-top: -1%;
  margin-left: -.1%;
}
#about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

.section__text p {
  font-weight: 100%;
  display: flex;
  flex-direction: column;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-left: 10%;
  text-align: justify;
}

.title {
  font-size: 3rem;
  text-align: center;
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}


/* BUTTONS */

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 20rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
.sec{
  padding: 1.5rem;
  flex: 1;
  background: #EFEEEA;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 90%;
  gap: 25%;
  font-size: larger;
}
#projects {
  position: relative;
 
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
  font-size: medium;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
.about-containers {display: flex;
justify-content: center;} 
h2{ font-family: 'Graduate', cursive;
text-align: center;}
.skill-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 95%;
text-align: center;
padding-top: 2%;
  height: 150px;
  background-color: #EFEEEA;
}
.skillimg{width: 8%;}

.experience-sub-title

{text-align: center;}

.btn{justify-content: center;
text-align: center;
margin-left: 10%;} 


footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
.nav-link {
  display: flex;
 
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.nav-link {
  gap: 1rem;
  list-style: none;
  font-size: 1rem;
 
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-left: -70%;
}
.social-icons a {
  margin-left: 55px; /* تباعد أفقي بين الأيقونات */
}
h4{text-align: center;}
#contact{

  justify-content: left;
  align-items:start;
  display: grid;
  grid-template-columns:50% 25%;
  gap: 5%;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 95%;
  background-color: #EFEEEA;
  
}
.map{width: 150%;
  padding-top:20%;
}
input{height: 40px;
margin-left: 1%;}
footer{background-image: url(./Abstract-Grey-DNA-Molecular-Structure-Animated-Background-.gif);
background-size:initial;}

.foot{
align-items: baseline;
margin-left: 38%;
}



@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
 
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }



  input{height: 10px;
    width: 150%;
    margin-left: 1%;}
    #contact{

      justify-content: left;
      align-items:start;
      display: grid;
      grid-template-columns:50% ;
      gap: 1%;
      border-radius: 2rem;
      border: rgb(53, 53, 53) 0.1rem solid;
      border-color: rgb(163, 163, 163);
      width: 95%;
      background-color: #EFEEEA;
      padding: 2%;
    }    
    .skillimg{width: 15%;
}}

@media (max-width: 1200px){
  .skillimg{width: 12%;
  }
}
@media (max-width: 768px) {
  .toggle-menu:checked ~ .nav-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
  }

  .toggle-menu:checked ~ .nav-links ul li {
    margin-bottom: 10px;
  }

  .toggle-menu:checked ~ .nav-links ul li:last-child {
    margin-bottom: 0;
  }

  .toggle-menu:checked ~ .hamburger-menu {
    display: none;
  }

  .toggle-menu:not(:checked) ~ .hamburger-menu {
    display: block;
  }

  .toggle-menu:checked ~ .nav-links {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-links ul li {
    display: block;
  }
  #about{
    display: grid;
    grid-template-columns: 1fr;
   gap:1%;
  }
  .map{padding-top:-80px;
    height: 100px;}
    input{height: 15px;
      width: 150%;
      margin-left: 1%;}
    
  
  #contact{

    justify-content: left;
    align-items:start;
    display: grid;
    grid-template-columns:50% ;
    gap: 1%;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    width: 95%;
    background-color: #EFEEEA;
    padding: 2%;
    
  }
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
  }
  .skillimg{width: 18%;}}

@media screen and (max-width: 400px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .map{padding-top:-300px;
  height: 60px;}
  input{height: 15px;
    width: 150%;
    margin-left: 1%;}
  

#contact{

  justify-content: left;
  align-items:start;
  display: grid;
  grid-template-columns:50% ;
  gap: 1%;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 95%;
  background-color: #EFEEEA;
  padding: 2%;
  
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.nav-link{
margin-left: -65%;
}
.skillimg{width: 25%;}
}
@media screen and (max-width: 540px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .map{padding-bottom:200px;
  height: 30px;}
  input{height: 15px;
    width: 150%;
    margin-left: 1%;}
  

#contact{

  justify-content: left;
  align-items:start;
  display: grid;
  grid-template-columns:50% ;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  width: 95%;
  background-color: #EFEEEA;
  padding: 2%;
  
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.nav-link{
margin-left: -65%;
}
.map{height: 60px;}
.skillimg{width: 25%;}

footer{background-image: url(./Abstract-Grey-DNA-Molecular-Structure-Animated-Background-.gif);
  background-size:initial;
height: 120px;}
  
  .foot{
  align-items: baseline;
  margin-left: 38%;
  }
  .nav-link{margin-left:-88px;}}